Repository ryouka0731/OkaZooo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: CIワークフローの追加とREADMEの日本語化
  .github/workflows/ci.yml
  readme.md
Due: prettier --write

feat: READMEに改行を追加
  readme.md
Due: prettier --write

feat: 新しいコンポーネントと機能の追加
  bun.lockb
  package.json
  src/components/HuntCounter.tsx
  src/components/VideoSwiper.tsx
  src/hooks/useVideoControl.ts
  src/lib/supabase.ts
Due: eslint --fix, prettier --write

feat: UIの改善と設定の追加
  src/components/CloseButtons.tsx
  src/components/Header.tsx
  src/components/Main.tsx
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: 新しいコンポーネントのストーリーを追加
  src/components/HuntCounter.stories.tsx
  src/components/OkaZoooLogo.stories.tsx
  src/components/TutorialPopup.stories.tsx
  src/components/VideoSwiper.stories.tsx
Due: eslint --fix, prettier --write

feat: コンポーネントのストーリーとファイルを追加
  .storybook/main.ts
  src/components/CloseButtons/CloseButtons.stories.tsx
  src/components/CloseButtons/CloseButtons.tsx
  src/components/Header/Header.stories.tsx
  src/components/Header/Header.tsx
  src/components/HuntCounter/HuntCounter.stories.tsx
  src/components/HuntCounter/HuntCounter.tsx
  src/components/Main/Main.stories.tsx
  src/components/Main/Main.tsx
  src/components/OkaZoooLogo/OkaZoooLogo.stories.tsx
  src/components/OkaZoooLogo/OkaZoooLogo.tsx
  src/components/TutorialPopup/TutorialPopup.stories.tsx
  src/components/TutorialPopup/TutorialPopup.tsx
  src/components/VideoSwiper/VideoSwiper.stories.tsx
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: コンポーネントの構成を整理し、CloseButtons、Header、HuntCounter、OkaZoooLogo、TutorialPopup、VideoSwiperを新しいディレクトリに移動
  .storybook/public/.gitkeep
  .storybook/public/favicon.ico
  bun.lockb
  package.json
  src/App.tsx
  src/__tests__/components/CloseButtons.test.tsx
  src/__tests__/components/Header.test.tsx
  src/__tests__/components/Main.test.tsx
  src/components/CloseButtons.stories.tsx
  src/components/CloseButtons.tsx
  src/components/CloseButtons/CloseButtons.stories.tsx
  src/components/CloseButtons/CloseButtons.tsx
  src/components/Header.stories.tsx
  src/components/Header.tsx
  src/components/Header/Header.stories.tsx
  src/components/Header/Header.tsx
  src/components/HuntCounter.stories.tsx
  src/components/HuntCounter.tsx
  src/components/HuntCounter/HuntCounter.stories.tsx
  src/components/HuntCounter/HuntCounter.tsx
  src/components/Main.stories.tsx
  src/components/Main.tsx
  src/components/Main/Main.stories.tsx
  src/components/Main/Main.tsx
  src/components/OkaZoooLogo.stories.tsx
  src/components/OkaZoooLogo.tsx
  src/components/OkaZoooLogo/OkaZoooLogo.stories.tsx
  src/components/OkaZoooLogo/OkaZoooLogo.tsx
  src/components/TutorialPopup.stories.tsx
  src/components/TutorialPopup.tsx
  src/components/TutorialPopup/TutorialPopup.stories.tsx
  src/components/TutorialPopup/TutorialPopup.tsx
  src/components/VideoSwiper.stories.tsx
  src/components/VideoSwiper.tsx
  src/components/VideoSwiper/VideoSwiper.stories.tsx
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat(VideoSwiper): PC向けの全画面表示とマウスホイール操作の改善
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: .gitignoreにlocal.envとpreview.mp4を追加 .local.envとpreview.mp4を.gitignoreに追加し、不要なファイルがリポジトリに含まれないようにしました。
  .gitignore
Due: none

feat(VideoSlide): 動画スライドのスタイルを改善し、レイアウトを調整
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat(VideoSwiper): 動画スワイパーのローディング状態管理を改善
  src/App.tsx
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: bunfig.tomlを新規作成し、エントリーポイントと出力ディレクトリを設定
  bunfig.toml
Due: none

feat: bunfig.tomlのビルド設定を追加
  bunfig.toml
Due: none

feat: postcss.config.cjsのプラグイン設定を修正
  postcss.config.cjs
Due: none

feat: vercel.jsonの出力ディレクトリを変更
  vercel.json
Due: prettier --write

feat: Tailwind CSSとカスタムテーマのための`index.css`を追加し、PostCSS設定を更新
  postcss.config.cjs
  src/index.css
Due: prettier --write

feat: mcp.jsonを追加し、複数のサーバー設定を定義
  .vscode/mcp.json
Due: prettier --write

feat: ビデオスイーパーコンポーネントとウィンドウサイズフックを新規追加し、動画表示機能を実装
  src/App.tsx
  src/components/VideoSwiper/VideoSwiper.tsx
  src/hooks/useWindowSize.ts
  src/index.css
Due: eslint --fix, prettier --write

feat: 垂直スワイプ、動画再生制御、ローカルストレージによる状態保持を備えたVideoSwiperコンポーネントを追加
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: 動画の縦スクロール再生と状態管理を行う新しいビデオスワイパーコンポーネントを追加しました。
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: 垂直スワイプ、ローカルストレージによる位置保存、PCホイール操作、MP4およびiframe動画再生をサポートするVideoSwiperコンポーネントを実装。
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: VideoSwiperコンポーネントを新規追加し、動画スワイプ、状態保持、PCホイール操作、動画プリロード機能を提供
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: Vercel Analyticsを追加し、新しいAppコンポーネントを作成しました。
  bun.lockb
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write

feat: 新しい `App.tsx` ファイルと `@vercel/speed-insights` 依存関係を追加しました。
  bun.lockb
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write

feat: 動画スワイパーコンポーネント、PWAインストールプロンプト、およびアプリケーションの基本構造を実装
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: PWAインストールプロンプト機能と初期スタイリングを追加
  src/App.tsx
  src/components/InstallPrompt/InstallPrompt.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat: 動画リストをスワイプ表示するVideoSwiperコンポーネントを新規追加
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: 新しいVideoSwiperコンポーネントを追加し、動画表示、スワイプ操作、状態保存、PCホイールナビゲーションを実装しました。
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: 動画の縦型スワイプ表示、再生、プリロード、PCホイール操作、インデックス保存機能を備えたVideoSwiperコンポーネントを新規追加
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: 新しいVideoSwiperコンポーネントを追加し、動画の垂直スワイプ、自動再生、一時停止、PCホイールナビゲーション、および視聴位置の永続化を実装しました。
  src/components/VideoSwiper/VideoSwiper.tsx
Due: eslint --fix, prettier --write

feat: PWA対応のためのアイコンとマニフェストファイルを追加し、index.htmlを更新
  icon.png
  index.html
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon-192x192.png
  public/icon-512x512.png
  public/manifest.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,jsx,js}
  prettier --write: (any of: *.{ts,tsx,jsx,js}) or (any of: *.{json,md,css})
